/*
 * Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
 * the trix-editor content (whether displayed or under editing). Feel free to incorporate this
 * inclusion directly in any other asset bundle and remove this file.
 *
 *= require trix
 */

/*
 * We need to override trix.css’s image gallery styles to accommodate the
 * <action-text-attachment> element we wrap around attachments. Otherwise,
 * images in galleries will be squished by the max-width: 33%; rule.
 */
.trix-content .attachment-gallery > action-text-attachment,
.trix-content .attachment-gallery > .attachment {
	flex: 1 0 33%;
	padding: 0 0.5em;
	max-width: 33%;
}

.trix-content .attachment-gallery.attachment-gallery--2 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--2 > .attachment, .trix-content .attachment-gallery.attachment-gallery--4 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment {
	flex-basis: 50%;
	max-width: 50%;
}

.trix-content action-text-attachment .attachment {
	padding: 0 !important;
	max-width: 100% !important;
}

trix-toolbar .trix-button-row>span { 
	background: #979079;
}
trix-toolbar .trix-button-row .trix-button-group { 
	border: 1px solid #5c5c69;
}
trix-toolbar .trix-button-row .trix-button-group button{ 
	border-color: #5c5c69;
}
trix-toolbar .trix-button-row .trix-button-group-spacer { 
	background: transparent;
}
trix-editor { 
	padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
	vertical-align: middle;
	border-color: #374956;

}
trix-editor:focus { 
	border-color: #1095c1;
	box-shadow: rgba(16, 149, 193, 0.25) 0px 0px 0px 3px
}
